asgiref==3.8.1
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
cssselect2==0.7.0
distlib==0.3.9
Django==5.1.4
django-cors-headers==4.6.0
djangorestframework==3.15.2
et_xmlfile==2.0.0
filelock==3.18.0
fonttools==4.55.3
mysqlclient==2.2.6
numpy==2.2.0
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==11.0.0
pipenv==2025.0.3
platformdirs==4.3.8
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.2
virtualenv==20.31.2
weasyprint==63.1
webencodings==0.5.1
zopfli==0.2.3.post1
